h2{
  color: grey;
  position: relative;
  left: 2em;
  margin: auto;
}
hr{
  background-color: grey;
  width: 10em;
  height: 0.3em;
  border: 0;
  color: grey;
  position: relative;
  right: 32em;
}
.coder1{
  /*margin: 0;*/
  float:left;
}
.img1{
  height: 8em;
  width: 8em;
  position: relative;
  left: 2em;
  top: 1em;
}
.c1{
  color: white;
  position: relative;
  left: 5em;
  bottom: 2em;
}
.coder2{
  /*margin: 0;*/
  float:left;
}
.img2{
  height: 8em;
  width: 8em;
  position: relative;
  left: 4em;
  top: 1em;
}
.c2{
  color: white;
  position: relative;
  left: 6em;
  bottom: 2em;
}
/*
.coder3{
    margin: 0;
  }*/

.img3{
  height: 8em;
  width: 8em;
  position: relative;
  left: 6em;
  top: 1em;
}

.c3{
  color: white;
  position: relative;
  left: 11em;
  bottom: 2em;
  }

.coder4{
  /*margin: 0;*/
  float:left;
}

.img4{
  height: 8em;
  width: 8em;
  position: relative;
  left: 2em;
  top: 1em;
}

.c4{
  color: white;
  position: relative;
  left: 6em;
  bottom: 2em;
}

.coder5{
  /*margin: 0;*/
  float:left;
}

.img5{
  height: 8em;
  width: 8em;
  position: relative;
  left: 4em;
  top: 1em;
}

.c5{
  color: white;
  position: relative;
  left: 7em;
  bottom: 2em;
}

/*.coder6{
  margin: 0;
}*/

.img6{
  height: 8em;
  width: 8em;
  position: relative;
  left: 6em;
  top: 1em;
}

.c6{
  color: white;
  position: relative;
  left: 11em;
  bottom: 2em;
}
